@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    background: lightblue;
    justify-content: center;
    align-items: center;
}

 .container {
    height: 510px;
    width: 730px;
    border-radius: 25px;
    display: flex;
    background: white;
 }

 .result-card{
   height: 510px;
   width: 365px;
   box-sizing: border-box;
    background:linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .result-card span:nth-child(1){
  color: hsl(241, 100%, 89%);
  font-family:'Hanken Grotesk';
  font-size:18pt;
  font-weight: 500;
 }

 .result-card h1{
  font-family:'Hanken Grotesk';
  font-weight: 700;
  color: white;
  margin: 0;
 }

 .result-card p{
  font-family:'Hanken Grotesk';
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color:hsl(241, 100%, 89%);
  width: 260px;
 }

 .results{
  display: flex;
   height: 200px;
   width: 200px;
   border-radius: 100px;
   background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
   margin: 20px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .results h1{
  margin: 0;
  color: white;
  font-size: 80px;
 }

 .results span{
  color: hsl(241, 100%, 89%);
  font-family: 'Hanken Grotesk';
 }

 .perform-card{
   height: 510px;
   width: 365px;
   padding: 20px;
   background: white;
   box-sizing: border-box;
 }

 .resultsContainer{
 display: flex;
 flex-direction: column;
 gap: 20px;
 margin: 0 auto;
 justify-content: center;
 }

 .performResults{
  display: flex;
  height: 55px;
  width: 300px;
  border-radius: 10px;
  align-items: center;
  font-family: 'Hanken Grotesk';
 }

 #reaction{
  background: rgba(249, 151, 151, 0.52);
  color: hsl(0, 100%, 67%);
 }

 #memory{
  background: rgba(247, 232, 67, 0.674);
  color: hsl(39, 100%, 56%);
 }

 #verbal{
  background: rgba(108, 243, 87, 0.645);
  color: hsl(166, 100%, 37%);
 }

 #visual{
  background: rgba(182, 83, 244, 0.645);
  color: hsl(234, 85%, 45%);
 }

 .category{
  font-family: 'Hanken Grotesk';
  font-size: 16px;
  height: 55px;
  flex-grow: 2;
 }

 svg{
  margin: 10px;
 }

 .score{
  flex-grow: 0;
  text-align: end;
 }

 .resultsContainer h2{
  font-family:'Hanken Grotesk';
  font-weight: 800;
 }

 button{
  font-family: 'Hanken Grotesk';
  font-size: 18px;
  font-weight: 800;
  color: white;
  border-radius: 25px;
  border: none;
  height: 55px;
  margin-top: 20px;
  background: hsl(236, 31%, 17%);
 }

 button:hover{
 background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
 
 cursor: pointer;
}

@media screen and (max-width: 480px) {

  .container{
    display: block;
    min-height: 100vh;
    border-radius: 0px;
  }

  .result-card{
    border-radius: 0px 0px 25px 25px;
    height: 390px;
    width: 414px;
    padding: 10px;
  }

  .resultsContainer{
    padding: 25px;
    gap: 15px;
  }

  .performResults{
    min-width: 365px;
  }

  .results{
    height: 150px;
    width: 150px;
  }

  
  
}